@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

*{
    font-family: 'Amatic SC', cursive;
    margin: 0;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background: teal;
}

/* Prompt mobile users to use PC instead */
@media(max-width:650px){
    #body{
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    #container{
        display: none;
    }

    #mobile h1{
        position: relative;
        text-align: center;
        font-size: 5rem;
    }
}


@media(min-width:651px){

    #mobile{
        display: none;
    }

    /* Center an absolutely positioned element */
    #input, #btn_start, #time, #question{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    /* Menu */

    #radios{
        overflow: auto;
        position: absolute;
        left: 2%;
        top: 12.5%;
        width: 20%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,0.2);
        border-radius: 6px;
        transition: background 0.5s ease;
    }

    #radios:hover {
        background-color: rgba(0,0,0,0.1);
    }

    #radios div{
        margin-bottom: 2rem;
    }

    #competitive:checked ~ #label_comp{
        font-size: 4rem;
        font-weight: 900;
        color: #2c2c2c;
    }

    #competitive{
        order: 1;
    }

    #competitivediv label{
        margin-right: 0.5rem;
        transition: font-size 0.5s ease;
    }

    #multidiv, #powersdiv, #additiondiv, #subtractiondiv, #minmax, #competitivediv{
        display: flex;
    }

    #multidiv label, #powersdiv label, #additiondiv label, #subtractiondiv label, #competitivediv label{
        transition: font-size 0.5s ease;
    }

    #competitivediv label:hover , #multidiv label:hover, #powersdiv label:hover, #additiondiv label:hover, #subtractiondiv label:hover{
        font-size: 3rem;
    }


    /* Set time slider */
    #div_setTime{
        text-align: center;
    }
    #setTime{
        margin-top: 0.5rem;
    }

    .radio{
        margin-top: 0.8rem;
        margin-left: 0.5rem;
    }

    #radios label{
        font-size: 2rem;
    }

    #minmax{
        text-align: center;
        justify-content: center;
    }

    #minmax input{
        cursor: pointer;
        margin: auto;
        width: 15%;
        border: 0;
        border-radius: 2px;
        font-size: 1.75rem;
        height: 6vh;
        text-align: center;
    }

    #minmax label{
        margin: auto;
        justify-self: right;
        align-self: flex-start;
        font-size: 2.5rem;   
    }

    #wave{
        margin-top: 2rem;
        font-size: 2.75rem;
        font-weight: 100;
    }
    /* End menu region */

    /* Headers */

    #score, #highscore, #streak, #lives{
        display: none;
        position: absolute;
        font-size: 4rem;
        transition: font-size 0.5s ease;
        right: 2%;
    }

    #score{
        top: 2%;
    }

    #highscore{
        top: 15%;
    }

    #streak{
        top: 27%;
    }

    #lives{
        top: 39%;
    }

    #timediv{
        width: 100%;
    }

    /* Time slider */

    #time{
        display: none;
        top: 5%;
        outline: 0;
        width: 35%;
        background: #2c2c2c;
        outline: none;
    }

    #time:-webkit-slider-thumb {
        width: 25px;
        height: 25px;
        background: rgb(95, 95, 95);
    }

    #time::-moz-range-thumb {
        width: 25px;
        height: 25px;
        background: rgb(95, 95, 95);
    }

    /*Exercise header */
    #question{
        z-index: -1;
        text-align: center;
        font-size: 20rem;
        font-weight: 600;
        display: none;
        color: black;
    }

    #btn_start{
        width: 35%;
        top: 25%;
        height: 35%;
        text-align: center;
        font-size: 8rem;
        background-color: white;
        color: black;
        border: 0;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    #btn_start:hover{
        color: white;
        font-size: 9rem;
        background-color: black;
    }

    #btn_mute{
        position: absolute;
        right: 2%;
        bottom: 2%;
        width: 10%;
        font-size: 3rem;
        border-radius: 10px;
    }

    /* Answer input */

    #input{    
        display: none;
        top: 50%;
        font-size: 5rem;
        margin-top: 7.5rem;
        width: 10%;
        border: 0;
        border-radius: 6px;
        text-align: center;
        transition: all 0.5s ease;
        background-color: rgba(0,0,0,0.4);
    }


    #input:hover{
        color: black;
        background-color: rgba(0,0,0,0.3);
    }

    #input:focus{
        padding: 1rem;
        width: 20%;
    }

    #powers, #multi, #competitive, #btn_start, #btn_mute, #subtraction, #setTime, #addition, #powersdiv label, #multidiv label, #competitivediv label, #additiondiv label, #subtractiondiv label, #input{
        cursor: pointer;
    }
}