@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
    background: url(/images/index/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header{
    font-family: 'Rock Salt', cursive;
}

#projects a{
    outline: none;
}

/*Mobile*/
@media(max-width:799px){
    * {
        margin: 0;
    }

    body{
        overflow: hidden;
    }

    #container{
        height: 100vh;
        text-align: center;
    }
    
    #header_container{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    #header{
        font-size: 20vw;
        color: rgba(94, 255, 0, 0.85);
        -webkit-text-stroke: 1px black;
    }
    
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 15px;
        padding: 0 0.5rem;
    }

    .h2{
        position: absolute;
        font-family: 'Indie Flower', cursive;
        margin: auto;
        text-align: center;
        color: #000;
        font-weight: 100;
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 20px;
        width: 50vw;
        font-size: 3rem;
    }

    #h2_projects{
        left: 25%;
        top: 0;
    }

    #h2_contact{
        bottom: 0;
        left: 31%;
        width: 40vw;

    }
    
    #projects{
        position: absolute;
        top: 11%;
        left: 5%;
        width: 85vw;
    }
    
    #contact{
        width: 55vw;
        position: absolute;
        bottom: 11%;
        left: 25%;
        width: 50vw;
    }
    
    img{
        width: 47.5px;
    }
    
    .border{
        height: 65px;
        border-right: #EEE solid 1px;
    }
}

/*Desktop*/
@media(min-width:800px){
    img{
        width: 8vw;
    }
    
    .wrapper{
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 15px;
    }

    .border{
        height: 15vh;
        border-right: #EEE solid 1px;
        margin: auto 1vw;
    }

    #header_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header{
        height: 20vh;
        font-size: 3rem;
        color: rgba(94, 255, 0, 0.85);
        -webkit-text-stroke: 1px black;
    }

    .h2{
        font-family: 'Indie Flower', cursive;
        margin: auto;
        text-align: center;
        color: #000;
        font-weight: 100;
        background-color: rgba(255, 255, 255, 0.35);
        border-radius: 20px;
        width: 21vw;
        font-size: 3rem;
    }

    #projects{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10vh;
        width: 75vw;
    }

    #contact{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25vw;
    }

    #btn_phone{
        order: 2;
    }

    #contact_br{
        order:1;
    }
}