@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.canvas_container{
    cursor: pointer;
    margin-top: 5rem;
    position: relative;
    text-align: center;
}

header{
    text-align: center;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.25rem;
    font-weight: 100;
    font-size: 7.5rem;
}