@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Options */

.options_container{
    font-family: 'Roboto', sans-serif;
    margin-top: 6rem;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.options_container div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Options - END */

.canvas_container{
    position: relative;
    cursor: pointer;
    margin-top: 1.5rem;
    text-align: center;
}

header{
    text-align: center;
    font-family: 'Monoton', cursive;
    letter-spacing: 0.3rem;
    font-weight: 100;
    font-size: 8vw;
}